@tailwind base;
@tailwind components;
@tailwind utilities;


html
{
  font-size: 22px;
}

.my-shadow
{
  box-shadow: 0 0rem .5rem 0px #afafaf;
}
.my-shadow2
{
  box-shadow: 0 0rem .5rem 0px #d9dbda;
}

button
{
  outline: none;
}

.custom-container
{
  width: 1920px;
 
}
.custom-container2
{
  width: 1320px;
}
.custom-container,.custom-container2
{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero-top-margin
{
  margin-top: 70.88px;
}

.my-padding,.custom-container,.custom-container2
{
  padding-left:1rem;
  padding-right:1rem;
}

.block-container
{
  width: 65.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.slick-my-dots
{
   position: absolute;
   bottom: -2rem;
   display: flex !important;
   gap: .5rem;
   transform: translateX(-50%);
   left: 50%;
}

.slick-my-dots .slick-active span
{
  background-color: #1DD8FF;
} 

.slick-list
{
  padding: .5rem 0px !important;
}

h2
{
  font-size: 45px;
  font-weight: bold;
  color: #0E2FAA;
  display: block;
}

.my-elipsis
{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

span,strong,p
{
  display: block;
}

@media  (max-width:700px) 
{
  h1,h2,strong
  {
    font-size: 25px !important;
    line-height: 1.6rem !important;
  }
  strong
  {
    font-size: 22px !important;
    line-height: 1.6rem !important;
  }
  p
  {
    font-size: 16px !important;
  }
  .hero-uppertitle
  {
    font-size: 25px !important;
  }

}